# Node.js
node_modules/
*.env

# Build output
build/
dist/
out/

# Testing frameworks
coverage/
jest/

# IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Documentation
docs/

# Temporary files
npm-debug.log
yarn-error.log
lerna-debug.log
.pnpm-debug.log

# Compiled files
*.log
*.swp

# Miscellaneous
*.lock